.App {
  text-align: center;
}

.navbar{
  display: flex;
  list-style: none;
  justify-items: center;
  min-height: 10vh;
  background: rgb(92, 85, 80);
  color: antiquewhite;
}
.navbar__list{
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 50%;
  
}
.navbar__link{
  list-style: none;
}
.users-container{
  max-width: 40rem;
  margin: 10rem auto;
}
.post-container{
  max-width: 30rem;
}